data/drought/gebrechorkos_etal_2023_spei/
data/geo_boundaries/
data/satellite_indices/evi/evi_mask_mean_max_min/evi_6mo_batches/
data/satellite_indices/evi/evi_mask_mean_max_min/*.csv
data/satellite_indices/evi/evi_mask_mean_max_min/*.geojson
data/satellite_indices/evi/evi_mean_max_nomask
data/iom/
data/EPR/
data/combined/
!/data/combined/combined_data_documentation.md
data/population/
data/conflict/
arcgis_work/
*.geojson
*.shp
*.shx
*.prj
*.dbf
*.sbn
*.CPG
*.docx
